.hotarea{
    width: 1520px; height: 308px;
    position: relative;
    background-color: #f6f6f6;
}

.hotleftarea{
    width: 215px; height: 308px;
    float: left;
    position: relative
}
.hotmidarea{
    width: 1090px; height: 308px;
    position: relative;
    margin:0 auto;
    background-image: url('https://kaola-haitao.oss.kaolacdn.com/0f584d8e-12e0-4cba-883d-c58769340deeT2005291133_1920_308.png?x-oss-process=image/resize,w_2400,h_385/quality,q_95');
    background-position: -414px 0;
    float: left;
}

.hotrightarea{
    width: 215px; height: 308px;
    position: relative;
    float: left;
}

/* 左边导航栏 */
.leftfloor{
    width: 99px; height: 648px;
    /* border:1px solid red; */
    float: right;
    margin-right: 10px;
    background-color: #fff;
}

.leftfloor .leftfloorimg{
    width: 99px; height: 48px;
    background-image: url('https://kaola-haitao.oss.kaolacdn.com/pMrK8hZ4xvzFXEE1P9irTamB01_99_49T1811011949_99_49.jpg');
    border-bottom: 1px solid #ddd;
    position: relative;
}

.hotbland{
    width: 78px; height: 31px;
    font-size: 14px;
    font-weight: 700;
    padding:18px 0 0 21px;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.leftfloor .blancategories{
    width: 75px; height: 22px;
    /* background-color: red; */
}

.newmanbenifits{
    width: 100%; height: 308px;
    float: left;

}

.blancategories{
    padding: 10px 0 0 24px;
    font-size: 12px;
    position: relative;
}

.leftfloor li:hover{
    background-color: #ddd;
}

/* .leftfloor a{
    width: 99px; height: 32px;
    float: left;
} */

/* 右边导航栏 */
.rightfloor{
    width: 62px; height: 250px;
    /* border: 1px solid #ff2337; */
    margin-left: 10px;
    background-color: #fff;
}

.rightfloor li{
    width: 62px; height: 61px;
    border:1px solid #ddd;
    font-size: 12px;
}

.rightfloor li:hover{
    background-color: #ddd;
}
.rightfloor img{
    padding: 15px 0 0 20px;
    float: left;
}

.rightfloor span{
    margin-left: 17px;
    float: left;
}
.rightfloor a{
    color:#333;
}

